@{
    ViewData["Title"] = "Home Page";
}


<h1 class="fw-bold text-decoration-underline pb-3">Bienvenue sur Helmo'bilité 2</h1>

<p>
    Notre flotte:
    <img src="~/img/flotte.png" width="256px" height="128px"/>
</p>

<p>
    Notre équipe:
    <img src="~/img/equipe.png" width="256px" height="128px"/>
</p>

<p>
    Nos partenaires :
    <img src="~/img/partenaires.png" width="256px" height="128px"/>
</p>